@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import './mixins/mixins.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.image-gallery-slide .image-gallery-image {
  max-width: 650px;
  height: 550px;
  margin: auto;
  object-fit: contain;
  @include responsive(tablet) {
    height: 500px;
  }
  @include responsive(phone) {
    height: 350px;
  }
}

.image-gallery-thumbnail {
  width: 50px !important;
  height: 50px !important;
  overflow: hidden;
}

.image-gallery-thumbnail {
  border-width: 2px !important;
  border-radius: 5px;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
