.CategorieCard {
  background-color: white;
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  border-color: transparent;
  cursor: pointer;
  min-height: 130px;
  width: 100%;
  position: relative;
  h3 {
    margin: 0 0 1rem 0;
    font-size: 1.1rem;
  }
  span {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 7px 16px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 10%);
  }
}
